$rose: #f72585ff;
$grape: #7209b7ff;
$zaffre: #3a0ca3ff;
$neon-blue: #4361eeff;
$vivid-sky-blue: #4cc9f0ff;

body{
    background-image: linear-gradient(to right,$zaffre, $neon-blue);
    
    
}
h1{
    color: whitesmoke;
}
section {
    border-style: outset;
    padding: 5rem;
    background-image: linear-gradient(to bottom right,$rose, $grape, $neon-blue);
    justify-content: center;
    align-content: center;
    border-radius: 100%;
    text-align: center;
    color: $vivid-sky-blue;
    border: 1px,solid,$grape;
}

#results {
    justify-content: center;
    text-align:justify;
    color: $rose;
    margin: auto;
   
}
